/* global.css */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Lora:ital@0;1&family=Tenor+Sans&display=swap");

:root {
  font-family: "Tenor Sans", sans-serif;
  --caribbean-current: #16697aff;
  --moonstone: #489fb5ff;
  --sky-blue: #82c0ccff;
  --isabelline: #ede7e3ff;
  --orange-peel: #ffa62bff;

  --platinum: #cfdbd5ff;
  --alabaster: #e8eddfff;

  --eerie-black: #242423ff;
  --jet: #333533ff;
}

a,
a:visited,
a:hover {
  color: white;
  text-decoration: none;
}

main {
  font-family: "Inter", sans-serif;
  text-align: center;

  padding: 1em;
  max-width: none;
  margin: 0 auto;
}

body {
  background-color: var(--alabaster);
  font-family: "Inter", sans-serif;
  text-align: center;
  font-weight: 100;
}

.bold {
  text-align: center;
  font-weight: 800;
}

h1 {
  font-family: "Tenor Sans", sans-serif;
  color: var(--orange-peel);
  font-size: 3em;
  margin: 2px;
}

h2 {
  font-family: "Tenor Sans", sans-serif;
  color: var(--caribbean-current);
  font-size: 1.5em;
  font-weight: 100;
  margin: 0.5em;
}

li {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: 100;
  text-align: left;
  list-style-type: disc;
  justify-content: center;
}

img {
  max-width: 50%;
  max-height: 50%;
  border-radius: 10px;
  margin: 0.5em;
  display: block;
  opacity: 50%;
}

img:hover {
  opacity: 100%;
  transition: all 200ms ease;
  margin-left: 0.5em;
  margin-right: 0.5em;
  cursor: pointer;
}

.description {
  place-items: center;
  display: flex;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;
}

.heading-img {
  max-width: 30%;
  max-height: 30%;
  margin: 0.5em;
  display: block;
  opacity: 90%;
}

.block {
  display: flex;
  justify-content: center;
  align-items: top;
  height: 100%;
}

.center {
  place-items: center;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.inner-block {
  background-color: var(--platinum);
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 0.5em;
  border-radius: 10px;
  opacity: 50%;
  width: 100%;
}

.inner-block-yellow {
  background-color: var(--orange-peel);
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 0.5em;
  border-radius: 10px;
  width: 100%;
}

.inner-block-yellow:hover,
.inner-block:hover {
  opacity: 100%;
  transition: all 200ms ease;
  padding: 1.5em;
  cursor: pointer;
}

.column {
  justify-content: center;
  place-items: center;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.black {
  color: var(--eerie-black);
}

.nav-link {
  font-family: "Tenor Sans", sans-serif;
  color: white;
  background-color: var(--jet);
  border-radius: 10%;
  padding: 10px;
}

.nav-link:hover {
  background-color: var(--eerie-black);
  transition: all 200ms ease;
  cursor: pointer;
  padding: 0.8em;
}

.bar {
  display: flex;
  justify-content: left;
  width: 100%;
}

.expandable-card {
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}
